{% comment %}
  Renders an article card for a given blog

  Accepts:
  - article: {Object} Article object
  - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)
  - class: {String}

  Usage:
  {% render 'article-card' article: article %}
{% endcomment %}
{% if width %}
  {%- assign item_width = width -%}
{% else %}
  {% assign item_width = article.image.width %}
{% endif %}

{% if height %}
  {%- assign item_height = height -%}
{% else %}
  {% if width %}
    {% assign item_height = width | times: article.image.aspect_ratio %}
  {% else %}
    {% assign item_height = article.image.height %}
  {% endif %}
{% endif %}

<div class="blog-item {{ class }}">
  <a class="blog-link" href="{{ article.url }}">
    {{ article.title }}
  </a>

  <div class="blog-img img-cover">
    {%- if article.image -%}
      {%- assign item_width_scaled = item_width | times: 2 -%}
      {%- assign item_height_scaled = item_height | times: 2 -%}
      {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
      <img
        src="{{ article.image.src | image_url: width: item_width_scaled, height: item_height_scaled }}"
        alt="{{ article.image.src.alt | escape }}"
        {% unless lazy_load == false %}
          loading="lazy"
        {% endunless %}
        width="{{ item_width }}"
        height="{{ item_height }}"
      >
      {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}
    {%- endif -%}
  </div>
  <div>
    <h3 class="{{ title_class }}">
      {{- article.title -}}
    </h3>
    <div class="subhead-2 blog-date opacity-50">
      {{ article.published_at | time_tag: format: 'date' }}
    </div>

    <div class="blog-tags">
      {% for tag in article.tags %}
        {{ tag | link_to_tag: tag }}
      {% endfor %}
    </div>
  </div>
</div>
