{% comment %}
  Renders an article card for a given blog

  Accepts:
  - article: {Object} Article object
  - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)
  - class: {String}

  Usage:
  {% render 'article-card' article: article %}
{% endcomment %}
{% if width %}
  {%- assign itemWidth = width -%}
{% else %}
  {% assign itemWidth = article.image.width %}
{% endif %}

{% if height %}
  {%- assign itemHeight = height -%}
{% else %}
  {% if width %}
    {% assign itemHeight = width | times: article.image.aspect_ratio %}
  {% else %}
    {% assign itemHeight = article.image.height %}
  {% endif %}
{% endif %}

<div class="blog-item {{ class }}">
  <div class="blog-img">
    {%- if article.image -%}
      {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
      <img
        src="{{ article.image.src | image_url: width: itemWidth, height: itemHeight }}"
        alt="{{ article.image.src.alt | escape }}"
        {% unless lazy_load == false %}
          loading="lazy"
        {% endunless %}
        width="{{ itemWidth }}"
        height="{{ itemHeight }}"
      >
      {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}
    {%- endif -%}
  </div>
  <div>
    <h3 class="{{ title_class }}">
      <a href="{{ article.url }}">
        {{- article.title -}}
      </a>
    </h3>
    <div class="subhead-2 blog-date opacity-50">
      {{ article.published_at | time_tag: format: 'date' }}
    </div>

    <div class="blog-tags">
      {% for tag in article.tags %}
        <div class="blog-tag">
          {{ tag }}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
