{% comment %}
  Renders an article card for a given blog

  Accepts:
  - article: {Object} Article object
  - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)
  - class: {String}

  Usage:
  {% render 'article-card' article: article %}
{% endcomment %}

{% if width %}
  {%- assign item_width = width -%}
{% else %}
  {% assign item_width = article.image.width %}
{% endif %}
{% if height %}
  {%- assign item_height = height -%}
{% else %}
  {% if width %}
    {% assign item_height = width | divided_by: article.image.aspect_ratio | floor %}
  {% else %}
    {% assign item_height = article.image.height %}
  {% endif %}
{% endif %}

<div class="blog-item {{ class }}">
  <a class="blog-link" href="{{ article.url }}">
    {{ article.title }}
  </a>

  <div class="blog-img img-cover">
    {%- if article.image -%}
      {% capture image_desctop %}
        {%- assign item_width_scaled = item_width | times: 2 -%}
        {%- assign item_height_scaled = item_height | times: 2 -%}
          <img
            src="{{ article.image.src | image_url: width: item_width_scaled, height: item_height_scaled }}"
            alt="{{ article.image.src.alt | escape }}"
            {% if lazy_load == true %}
              loading="lazy"
            {% endif %}
            width="{{ item_width }}"
            height="{{ item_height }}"
          >
        {% endcapture %}

      {% if article.metafields.custom.mobile_image != null %}
        <picture>
          <source
            media="(max-width: 412px)"
            srcset="{{ article.metafields.custom.mobile_image | image_url: width: 412 }}"
          >
          {{ image_desctop }}
        </picture>
      {% else %}
        {{ image_desctop }}
      {% endif %}
    {%- endif -%}
  </div>
  <div class="relative flex flex-col overflow-hidden">
    <h3 class="blog-name {{ title_class }}">
      {{- article.title -}}
    </h3>
    <div class="blog-date  {{ date_class }} opacity-50">
      {{ article.published_at | time_tag: format: 'date' }}
    </div>

    <div class="blog-tagswrap">
      <div class="blog-tags">
        {% for tag in article.tags %}
          {{ tag | link_to_tag: tag }}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
