{% comment %}
  Renders a product card

  Accepts:
  - card_product: {Object} Product Liquid object (optional)
  - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)
  - wrapper_class: {String} Wrapper class for card (optional)

  Usage:
  {% render 'card-product', card_product: product %}
{% endcomment %}

{%- if card_product and card_product != empty -%}
  {% assign image_hover = card_product.media[1] %}
  {% comment %} <button class="st-wishlist-button" data-type="details" data-handle="{{ card_product.handle }}">helo</button> {% endcomment %}
  <div class="card {% if wrapper_class != blank %} {{ wrapper_class }}{% endif %}">
    {% render 'card-favorite', product: card_product %}

    <div class="card-image img-cover">
      {% if image_hover %}
        <img
          src="
            {{ image_hover
            | image_url: width: 600 }}
          "
          srcset="
            {%- if image_hover.width >= 165 -%}{{ image_hover | image_url: width: 165 }} 165w,{%- endif -%}
            {%- if image_hover.width >= 330 -%}{{ image_hover | image_url: width: 330 }} 330w,{%- endif -%}
            {%- if image_hover.width >= 412 -%}{{ image_hover | image_url: width: 412 }} 412w,{%- endif -%}
            {%- if image_hover.width >= 600 -%}{{ image_hover | image_url: width: 600 }} 600w,{%- endif -%}
            {%- if image_hover.width >= 1000 -%}{{ image_hover | image_url: width: 1000 }} 1000w,{%- endif -%}
            {%- if image_hover.width >= 1500 -%}{{ image_hover | image_url: width: 1500 }} 1500w,{%- endif -%}
            {%- if image_hover.width >= 3000 -%}{{ image_hover | image_url: width: 3000 }} 3000w,{%- endif -%}
            {{ image_hover | image_url }} {{ image_hover.width }}w
          "
          sizes="(max-width: 412px) 412px, (max-width: 2500px) 600px, (max-width: 3500px) 1000px"
          width="442"
          height="578"
          alt="{{ image_hover.alt }}"
          class="card-hover"
          loading="lazy"
        >
      {% endif %}

      {%- if card_product.featured_media -%}
        <img
          class="card-img"
          src="
            {{ card_product.featured_media
            | image_url: width: 600 }}
          "
          srcset="
            {%- if card_product.featured_media.width >= 165 -%}{{ card_product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
            {%- if card_product.featured_media.width >= 330 -%}{{ card_product.featured_media | image_url: width: 330 }} 330w,{%- endif -%}
            {%- if card_product.featured_media.width >= 412 -%}{{ card_product.featured_media | image_url: width: 412 }} 412w,{%- endif -%}
            {%- if card_product.featured_media.width >= 600 -%}{{ card_product.featured_media | image_url: width: 600 }} 600w,{%- endif -%}
            {%- if card_product.featured_media.width >= 1000 -%}{{ card_product.featured_media | image_url: width: 1000 }} 1000w,{%- endif -%}
            {%- if card_product.featured_media.width >= 1500 -%}{{ card_product.featured_media | image_url: width: 1500 }} 1500w,{%- endif -%}
            {%- if card_product.featured_media.width >= 3000 -%}{{ card_product.featured_media | image_url: width: 3000 }} 3000w,{%- endif -%}
            {{ card_product.featured_media | image_url }} {{ card_product.featured_media.width }}w
          "
          sizes="(max-width: 412px) 412px, (max-width: 2500px) 600px, (max-width: 3500px) 1000px"
          alt="{{ card_product.featured_media.alt | escape }}"
          {% unless lazy_load == false %}
            loading="lazy"
          {% endunless %}
          width="{{ 442 }}"
          height="{{ 550 }}"
          {% if lazy_load == false %}
            fetchpriority="high"
          {% endif %}
        >
      {%- endif -%}
      {% render 'sizes', card_product: card_product, addClass: 'button-title-4' %}

      {%- if card_product.available %}
        <button class="card-cart">
          <span class="card-btninner">{% render 'icon-cart' %}</span>
        </button>
      {% endif %}

      <a
        href="{{ card_product.url }}"
        class="card-hiddenlink"
        aria-label="{{ card_product.title | escape }}"
      >
      </a>
    </div>
    <div class="card-bot">
      <h3
        class="card-title body-1"
        {% if card_product.featured_media %}
          id="title-{{ section_id }}-{{ card_product.id }}"
        {% endif %}
      >
        <a
          href="{{ card_product.url }}"
          id="CardLink-{{ section_id }}-{{ card_product.id }}"
        >
          {% render 'product-title', product: card_product %}
        </a>
      </h3>

      {%- render 'price', product: card_product, price_class: 'body-1 body-3-mobile' -%}

      {% render 'sizes', card_product: card_product, addClass: 'button-title-5 only-modal' %}
    </div>

    <product-form client:idle>
      <p class="body-2 text-red-500" role="alert" data-error-message hidden></p>
      {%- assign product_form_id = 'product-form-' | append: section.id -%}
      {%- form 'product',
        card_product,
        id: product_form_id,
        class: 'form',
        novalidate: 'novalidate',
        data-type: 'add-to-cart-form'
      -%}
        <input
          type="hidden"
          name="id"
          value=""
          disabled
        >
        <button
          type="submit"
          name="add"
          hidden
        >
          {{ 'products.product.add_to_cart' | t }}
        </button>
      {%- endform -%}
    </product-form>
  </div>
{%- else -%}
  <div class="card">
    <div class="card-image"></div>
    <div class="card-bot">
      <h3 class="card-title body-1">
        {{ 'onboarding.product_title' | t }}
      </h3>
      <div class="card-price body-1 body-3-mobile">
        {{ 1999 | money_without_trailing_zeros }}
      </div>
    </div>
  </div>
{%- endif -%}
