<cart-select client:visible>
  <div class="custom-select">
    <select
      name="{{ name }}"
      {% if required %}
        required
      {% endif %}
    >
      <option value="">{{ label }}</option>
      {% for value in options %}
        {% if value.available %}
          {{ value }}
          <option value="{{ value.id }}">{{ value.option2 }}</option>
        {% endif %}
      {% endfor %}
    </select>
    <div class="select-selected">{{ label }}</div>
  </div>
</cart-select>
