<div class="complementary-block {{ wrapper_class }}">
  {%- assign item = product -%}
  {%- assign img = item.featured_media -%}
  {%- assign w = 134 -%}
  {%- assign h = 140 | divided_by: item.image.aspect_ratio | floor -%}

  <a href="{{ item.url }}" class="complementary-subimg img-cover">
    {{ img | image_url: width: w, height: h | image_tag: loading: 'eager', width: w, height: h, alt: img.alt | escape }}
  </a>
  <div class="complementary-right">
    <h3 class="complementary-title">
      <a
        class="cart-item-name"
        href="{{ item.url }}"
      >
        {% render 'product-title', product: item %}
      </a>
    </h3>
    {% render 'price', product: item, use_variant: true, price_class: 'subhead-2 body-1-mobile complementary-price' %}

    {% if item.available %}
      <product-form client:idle class="complementary-form">
        {%- assign product_form_id = 'product-form-' | append: section.id -%}
        {%- form 'product', item, id: product_form_id, class: 'form', data-type: 'add-to-cart-form' -%}
          <div class="complementary-foot">
            {% render 'cart-select', name: 'id', label: 'Size', options: item.variants, required: true, item: item %}
            <button
              type="submit"
              name="add"
              class="complementary-add btn btn-blue button-title-5"
            >
              {{ 'products.product.add_to_cart' | t }}
            </button>
          </div>
          <p class="body-2 absolute text-red-500" role="alert" data-error-message hidden></p>
        {%- endform -%}
      </product-form>
    {% endif %}
  </div>
</div>
