<contact-form {%- if form.posted_successfully? -%}style="margin: auto !important;"{% endif %} client:idle>
    <div class="color-{{ section.settings.color_scheme }} gradient">
        <div class="contact page-width page-width--narrow section-{{ section.id }}-padding">
            {%- form 'contact', id: 'ContactForm', class: 'contact-form body-1' -%}
                {%- if form.posted_successfully? -%}
                    <h2 class="form-status title-1 text-center form-status-list form__message" tabindex="-1" autofocus>
                        {{- 'icon-success.svg' | inline_asset_content -}}
                        {{ 'templates.contact.form.post_success' | t }}
                    </h2>
                {%- elsif form.errors -%}
                    <div class="form__message">
                        <h2 class="form-status title-1 caption-large text-body" role="alert" tabindex="-1" autofocus>
                            {{- 'icon-error.svg' | inline_asset_content -}}
                            {{ 'templates.contact.form.error_heading' | t }}
                        </h2>
                    </div>
                    <ul class="form-status-list caption-large" role="list">
                        <li>
                            <a href="#ContactForm-email" class="link .title-2">
                                {{ form.errors.translated_fields.email | capitalize }}
                                {{ form.errors.messages.email }}
                            </a>
                        </li>
                    </ul>
                {%- endif -%}
                <div class="contact__fields" {%- if form.posted_successfully? -%}style="display: none"{% endif %}>
                    <div class="contact__fields_name">
                        <div class="field contact__fields_name_first-name">
                            <input aria-required="true" type="text" id="ContactForm-first-name" class="field__input inp names"
                                   name="contact[first_name]" placeholder="First Name" required>
                        </div>

                        <div class="field contact__fields_name_last-name">
                            <input aria-required="true" type="text" id="ContactForm-last-name" class="field__input inp names"
                                   name="contact[last_name]"
                                   placeholder="Last Name" required>
                        </div>
                    </div>

                    <phone-number client:visible>
                        <div class="field contact__fields_phone">
                            <label class="field__label" for="ContactForm-phone">Country Code</label>

                            <input aria-required="true" type="tel" id="ContactForm-phone" class="field__input inp"
                                   name="contact[phone]"
                                   value="">
                        </div>
                    </phone-number>

                    <div class="field contact_country">
                        <country-list client:idle>
                            <cart-select client:visible>
                                <div class="custom-select">
                                    <label class="field__label" for="ContactForm-country">Country/Region</label>

                                    <select id="ContactForm-country" name="contact[country]">

                                    </select>
                                    <div class="select-selected">Country</div>
                                </div>
                            </cart-select>
                        </country-list>
                    </div>

                    <div class="field field--with-error contact__fields_email">
                        <input type="email" id="ContactForm-email" class="field__input inp" name="contact[email]"
                               placeholder="Email" required>
                    </div>

                    <div class="field contact__fields_order">
                        <input type="text" id="ContactForm-order-number" class="field__input inp"
                               name="contact[order_number]" aria-required="true" placeholder="Order Number">
                    </div>

                    <div class="field contact_inquiry">
                        <cart-select client:visible>
                            <div class="custom-select">
                                <label class="field__label" for="ContactForm-inquiry-type">Type of Inquiry</label>

                                <select id="ContactForm-inquiry-type" name="contact[inquiry_type]">
                                    <option value="order">Order Information</option>
                                    <option value="product">Product Information</option>
                                    <option value="reservation">Reservation</option>
                                    <option value="returns">Returns</option>
                                    <option value="visit">Store Visit</option>
                                    <option value="difficulties">Technical Difficulties</option>
                                    <option value="other">Other</option>
                                </select>
                                <div class="select-selected">Order Information</div>
                            </div>
                        </cart-select>
                    </div>

                    <div class="field contact__fields_info">
                        <textarea id="ContactForm-comment" class="field__input inp" name="contact[comment]" rows="4"
                                  placeholder="Complementary information"></textarea>
                    </div>
                </div>


                <div class="contact__button" {%- if form.posted_successfully? -%}style="display: none"{% endif %}>
                        <div class="error-field" id="errorField"></div>


                    <button type="reset" class="button modal-close btn btn-white">
                        Cancel
                    </button>

                    <button type="submit" class="button btn-blue btn">
                        {{ 'templates.contact.form.send' | t }}
                    </button>
                </div>
            {%- endform -%}
        </div>
    </div>

</contact-form>

