{% comment %}
  Renders facets (filtering and sorting)

  Accepts:
  - results: {Object} Collection or Search object
  - enable_filtering: {Boolean} Show filtering when true
  - enable_sorting: {Boolean} Show sorting when true
  - filter_type: {String} Type of filter
  - paginate: {Object}

  Usage:
  {% render 'facets', results: collection, enable_filtering: true, enable_sorting: true, filter_type: 'vertical', paginate: paginate %}
{% endcomment %}

{%- liquid
  assign sort_by = results.sort_by | default: results.default_sort_by
  assign default_presentation = 'text'
  if results.url
    assign results_url = results.url
  else
    assign terms = results.terms | escape
    assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
  endif
-%}

<div class="facets-container{% if filter_type == 'drawer' %} facets-container-drawer{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
  {% comment %}  Drawer and mobile filter {% endcomment %}
  <facet-filters-form class="facets-menu" client:idle>
    <div class="facets-mobile-head">
      <button class="mobile-facets__open facets-close">
        {% render 'icon-close' %}
      </button>
    </div>
    <form id="FacetFiltersFormMobile" class="mobile-facets">
      <div class="mobile-facets__inner">
        <div
          id="FacetsWrapperMobile"
          class="mobile-facets__main has-submenu"
        >
          <div class="facets-menuinner">
            {%- if enable_filtering -%}
              {%- for filter in results.filters -%}
                {% liquid
                  assign presentation = filter.presentation | default: default_presentation
                  if presentation == 'image'
                    assign visual_layout_class = 'facets-layout facets-layout-grid facets-layout-grid--' | append: presentation
                  else
                    assign visual_layout_class = 'facets-layout facets-layout-list facets-layout-list--' | append: presentation
                  endif
                %}
                {% case filter.type %}
                  {% when 'boolean', 'list' %}
                    {% if forloop.index == 1 %}
                      {% if filter.label contains 'Availability' %}
                        <ul class="{{ visual_layout_class }} mobile-facets__list facets-availability" role="list">
                          {%- liquid
                            assign sorted_values = filter.values
                            # Keep the selected values grouped together when operator is  AND
                            if filter.operator == 'AND'
                              assign active_filter_values = filter.values | where: 'active', true
                              assign inactive_filter_values = filter.values | where: 'active', false
                              assign sorted_values = active_filter_values | concat: inactive_filter_values
                            endif
                          -%}
                          {%- for value in sorted_values -%}
                            {% liquid
                              assign input_id = 'Filter-' | append: filter.param_name | escape | append: '-mobile-' | append: forloop.index
                              assign is_disabled = false
                            %}

                            {% if value.value == '1' %}
                              {%- capture label_class -%}
                                  facets__label mobile-facets__label{% if is_disabled %} disabled{% endif %}{% if value.active %} active{% endif %} switch
                                  {%- endcapture -%}

                              {%- capture text_value -%}
                                    <span class="facet-checkbox__text" aria-hidden="true">
                                      <span class="facet-checkbox__text-label body-1">Hide sold out products</span>
                                    </span>
                                    <span class="visually-hidden">
                                      {{- value.label | escape }} (
                                      {%- if value.count == '1' -%}
                                        {{- 'products.facets.product_count_simple.one' | t: count: value.count -}}
                                      {%- else -%}
                                        {{- 'products.facets.product_count_simple.other' | t: count: value.count -}}
                                      {%- endif -%}
                                      )
                                    </span>
                                  {%- endcapture -%}

                              <li class="mobile-facets__item list-menu__item facets-switches">
                                <label class="{{ label_class }}">
                                  <span class="flex flex-col gap-8">
                                    <span class="subhead-2 opacity-50">My Sizes</span>
                                  </span>
                                  <span class="switch-wrap">
                                    <input
                                      type="checkbox"
                                      {% if customer.metafields.custom.apparel_size
                                        or customer.metafields.custom.footwear_size
                                        or customer.metafields.custom.headwear_size
                                      %}
                                        data-sizes="[apparel:{{ customer.metafields.custom.apparel_size }}],[footwear:{{ customer.metafields.custom.footwear_size}}],[headwear:{{ customer.metafields.custom.headwear_size}}]"
                                      {% else %}
                                        disabled
                                      {% endif %}
                                      class="mobile-facets__checkbox"
                                    >
                                    <span class="switch-box"></span>
                                  </span>
                                </label>
                                <span class="body-1 flex flex-col">
                                  {% if customer %}
                                    {% if customer.metafields.custom.apparel_size %}
                                      <span>Apparel: {{ customer.metafields.custom.apparel_size }}</span>
                                    {% else %}
                                      <span>Apparel: -</span>
                                    {% endif %}
                                    {% if customer.metafields.custom.footwear_size %}
                                      <span>Footwear: {{ customer.metafields.custom.footwear_size }}</span>
                                    {% else %}
                                      <span>Footwear: -</span>
                                    {% endif %}
                                    {% if customer.metafields.custom.headwear_size %}
                                      <span>Headwear: {{ customer.metafields.custom.headwear_size }}</span>
                                    {% else %}
                                      <span>Headwear: -</span>
                                    {% endif %}
                                  {% else %}
                                    <a
                                      href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
                                      class="link"
                                    >
                                      Sign in
                                    </a>
                                    to add your sizes
                                  {% endif %}
                                </span>
                              </li>

                              <li class="mobile-facets__item list-menu__item facets-switches">
                                <label for="{{ input_id }}" class="{{ label_class }}">
                                  {{ text_value }}

                                  <span class="switch-wrap">
                                    <input
                                      type="checkbox"
                                      name="{{ value.param_name }}"
                                      value="{{ value.value }}"
                                      id="{{ input_id }}"
                                      {% if value.active %}
                                        checked
                                      {% endif %}
                                    >
                                    <span class="switch-box"></span>
                                  </span>
                                </label>
                              </li>
                            {% endif %}
                          {%- endfor -%}
                        </ul>
                      {% endif %}
                      {%- if enable_sorting -%}
                        <details
                          id="Details-Mobile-SortBy-{{ section.id }}"
                          class="mobile-facets__details body-1 js-filter{% if filter_type == 'drawer' %} medium-hide large-up-hide{% endif %}"
                          data-index="mobile-{{ forloop.index }}"
                        >
                          <summary class="mobile-facets__summary">
                            <div class="mobile-facets__sort">
                              {{ 'products.facets.sort_by_label' | t }}
                              <span class="count-items"></span>
                            </div>
                          </summary>

                          <div class="select" id="sort_by_select">
                            {% assign sorts = 'price-ascending , price-descending , best-selling , created-ascending' %}
                            {%- for option in results.sort_options -%}
                              {% assign sort_name = option.value | escape %}
                              {% if sorts contains sort_name %}
                                <label class="checkbox">
                                  <input
                                    type="radio"
                                    name="sort_by"
                                    value="{{ option.value | escape }}"
                                    {% if option.value == sort_by %}
                                      checked="checked"
                                    {% endif %}
                                  >
                                  <span class="checkbox-box"></span>
                                  {{ option.name | escape }}
                                </label>
                              {% endif %}
                            {%- endfor -%}
                          </div>
                        </details>
                      {%- endif -%}
                    {% else %}
                      <details
                        id="Details-Mobile-{{ filter.param_name | escape }}-{{ section.id }}"
                        class="mobile-facets__details js-filter body-1"
                        data-index="mobile-{{ forloop.index }}"
                      >
                        <summary class="mobile-facets__summary focus-inset">
                          <div>
                            <span>{{ filter.label | escape }}</span>
                            <span class="count-items"></span>
                          </div>
                        </summary>
                        <div
                          id="FacetMobile-{{ forloop.index }}-{{ section.id }}"
                          class="mobile-facets__submenu"
                        >
                          <ul class="{{ visual_layout_class }} mobile-facets__list list-unstyled" role="list">
                            {%- liquid
                              assign sorted_values = filter.values
                              # Keep the selected values grouped together when operator is  AND
                              if filter.operator == 'AND'
                                assign active_filter_values = filter.values | where: 'active', true
                                assign inactive_filter_values = filter.values | where: 'active', false
                                assign sorted_values = active_filter_values | concat: inactive_filter_values
                              endif
                            -%}
                            {%- for value in sorted_values -%}
                              {% liquid
                                assign input_id = 'Filter-' | append: filter.param_name | escape | append: '-mobile-' | append: forloop.index
                                assign is_disabled = false
                                if value.count == 0 and value.active == false
                                  assign is_disabled = true
                                endif
                              %}

                              {%- capture label_class -%}
                                  facets__label mobile-facets__label{% if is_disabled %} disabled{% endif %}{% if value.active %} active{% endif %} checkbox
                              {%- endcapture -%}
                              {%- assign is_tag = false -%}
                              {% if value.param_name contains 'tag' %}
                                {%- assign is_tag = true -%}
                              {% endif %}
                              {%- capture text_value -%}
                                    <span class="facet-checkbox__text" aria-hidden="true">
                                      {% if value.label contains 'Collection::' %}
                                        {%- assign lab = value.label | split: 'Collection::' -%}
                                        {%- assign lab = lab[1] | escape -%}
                                      {% else %}
                                        {%- assign lab = value.label | escape -%}
                                      {% endif %}
                                      <span class="facet-checkbox__text-label body-1">{{- lab -}}</span>
                                    </span>
                                    <span class="visually-hidden">
                                      {{- value.label | escape }} (
                                      {%- if value.count == '1' -%}
                                        {{- 'products.facets.product_count_simple.one' | t: count: value.count -}}
                                      {%- else -%}
                                        {{- 'products.facets.product_count_simple.other' | t: count: value.count -}}
                                      {%- endif -%}
                                      )
                                    </span>
                              {%- endcapture -%}

                              {% if is_tag %}
                                {% if value.label contains 'Collection::' %}
                                  <li class="mobile-facets__item list-menu__item">
                                    <label for="{{ input_id }}" class="{{ label_class }}">
                                      <input
                                        class="mobile-facets__checkbox"
                                        type="checkbox"
                                        name="{{ value.param_name }}"
                                        value="{{ value.value }}"
                                        id="{{ input_id }}"
                                        {% if value.active %}
                                          checked
                                        {% endif %}
                                        {% if is_disabled %}
                                          disabled
                                        {% endif %}
                                      >
                                      <span class="checkbox-box"></span>

                                      {{ text_value }}
                                    </label>
                                  </li>
                                {% endif %}
                              {% else %}
                                <li class="mobile-facets__item list-menu__item">
                                  <label for="{{ input_id }}" class="{{ label_class }}">
                                    <input
                                      class="mobile-facets__checkbox"
                                      type="checkbox"
                                      name="{{ value.param_name }}"
                                      value="{{ value.value }}"
                                      id="{{ input_id }}"
                                      data-textvalue="{{ value.label }}"
                                      {% if value.active %}
                                        checked
                                      {% endif %}
                                      {% if is_disabled %}
                                        disabled
                                      {% endif %}
                                    >
                                    <span class="checkbox-box"></span>

                                    {{ text_value }}
                                  </label>
                                </li>
                              {% endif %}
                            {%- endfor -%}
                          </ul>
                        </div>
                      </details>
                    {% endif %}
                {% endcase %}
              {%- endfor -%}
            {%- endif -%}
          </div>

          <div class="mobile-facets-footwrap">
            <div class="mobile-facets__footer">
              <div class="mobile-facets__count headline-2 opacity-50">
                {%- if results.results_count -%}
                  {{ 'templates.search.results_with_count' | t: terms: results.terms, count: results.results_count }}
                {%- elsif results.products_count == results.all_products_count -%}
                  {{ 'templates.search.product_count_simple' | t: count: results.products_count }}
                {%- else -%}
                  {{ 'templates.search.product_count_simple' | t: count: results.products_count }}
                {%- endif -%}
              </div>
              <div class="facets-buttons">
                <facet-remove class="mobile-facets__clear-wrapper">
                  <a href="{{ results_url }}" class="mobile-facets__clear btn btn-white">
                    {{- 'products.facets.clear_all_inside' | t -}}
                  </a>
                </facet-remove>
                <button
                  type="button"
                  class="facets-apply btn btn-blue"
                  onclick="this.closest('.collection').querySelector('.mobile-facets__open').click()"
                >
                  {{ 'products.facets.apply' | t }}
                </button>
              </div>
            </div>
          </div>
        </div>

        {% if results.current_vendor or results.current_type %}
          <input type="hidden" name="q" value="{{ results.current_vendor }}{{ results.current_type }}">
        {% endif %}

        {%- if results.terms -%}
          <input type="hidden" name="q" value="{{ results.terms | escape }}">
          <input name="options[prefix]" type="hidden" value="last">
        {%- endif -%}
      </div>
    </form>
  </facet-filters-form>
</div>
