{{ 'brand.css' | asset_url | stylesheet_tag }}
<section class="section-{{ section.id }}-padding brand">
    <div class="container">
        <div class="brand__wrapper">
            <div class="brand__data">
                {%- if section.settings.title != blank -%}
                    <h2>{{ section.settings.title }}</h2>
                {%- endif -%}

                {%- if section.settings.text != blank -%}
                    <p>
                        {{ section.settings.text }}
                    </p>
                {%- endif -%}
            </div>

          <div class="brand__background">
            <img src="{{ section.settings.image | img_url: '1830x600' }}" alt="Brand Background">
            <img src="{{ section.settings.image_mobile | img_url: 'original' }}" alt="Mobile Background">
          </div>
        </div>
    </div>
</section>

{% schema %}
{
  "name": "Brand block",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Mobile Background Image"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "Block Title",
      "default": "Title"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Block Description",
      "default": "Description."
    }
  ],
  "presets": [
    {
      "name": "Block: About Us Brand",
      "category": "Custom"
    }
  ]
}
{% endschema %}
