<cart-drawer class="cart-drawer" client:idle>
  <div id="CartDrawer" class="cart-drawer-content">
    <div id="CartDrawer-Overlay" class="cart-drawer-overlay"></div>
    <div
      class="cart-drawer-panel"
      role="dialog"
      aria-modal="true"
      aria-label="{{ 'sections.cart.title' | t }}"
      tabindex="-1"
    >
      <div class="cart-drawer-header">
        <h2 class="capitalize">
          {{ 'sections.cart.title' | t }}
          {% if cart != empty %}({{ cart.item_count }}){% endif %}
        </h2>
        <button
          type="button"
          class="cart-drawer-close-btn"
          onclick="this.closest('cart-drawer').close()"
          aria-label="{{ 'accessibility.close' | t }}"
        >
          {% render 'icon-close' %}
        </button>
      </div>
      {% if cart == empty %}
        <div class="empty-cart-message section-pt subhead-1">
          <p>{{ 'sections.cart.empty' | t }}</p>
        </div>
      {% else %}
        <cart-drawer-items class="cart-drawer-items {% if cart == empty %}is-empty{% endif %}" client:idle>
          <form action="{{ routes.cart_url }}" id="CartDrawer-Form" method="post">
            <div id="CartDrawer-CartItems" class="cart-drawer-items">
              {% for item in cart.items %}
                <div id="CartDrawer-Item-{{ item.index | plus: 1 }}" class="cart-drawer-item">
                  <div class="item-image img-cover">
                    {% if item.image %}
                      <a
                        href="{{ item.url }}"
                        class="item-image-link"
                        tabindex="-1"
                        aria-hidden="true"
                      ></a>
                      <img
                        src="{{ item.image | image_url: width: 300 }}"
                        alt="{{ item.image.alt | escape }}"
                        loading="lazy"
                        width="150"
                        height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}"
                      >
                    {% endif %}
                  </div>
                  <div class="item-details">
                    <div class="item-info">
                      <div class="item-info-text">
                        <h3>
                          <a
                            class="cart-item-name"
                            href="{{ item.url }}"
                          >
                            {% render 'product-title', product: item.product %}
                          </a>
                        </h3>
                        <div class="item-options">
                          <dl class="flex">
                            {% for option in item.options_with_values %}
                              <dt hidden>{{ option.name }}:</dt>
                              <dd>{{ option.value }}</dd>
                              {%- unless forloop.last -%}&nbsp;/&nbsp;{%- endunless -%}
                            {% endfor %}
                          </dl>
                        </div>
                      </div>
                      {% render 'cart-price', item: item %}
                    </div>
                    <div class="item-actions">
                      <quantity-input class="quantity-input" client:visible>
                        <button
                          class="quantity-btn"
                          type="button"
                          name="minus"
                          aria-label="{{ 'products.product.quantity.decrease' | t: product: item.product.title | escape }}"
                        >
                          {% render 'icon-minus' %}
                        </button>
                        <input
                          class="quantity-input-field"
                          type="number"
                          name="updates[]"
                          value="{{ item.quantity }}"
                          min="0"
                          max="{{ item.variant.inventory_quantity }}"
                          aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                          id="Drawer-quantity-{{ item.index | plus: 1 }}"
                          data-index="{{ item.index | plus: 1 }}"
                        >
                        <button
                          class="quantity-btn {% if item.variant.inventory_quantity == item.quantity %} disabled {% endif %}"
                          type="button"
                          name="plus"
                          aria-label="{{ 'products.product.quantity.increase' | t: product: item.product.title | escape }}"
                        >
                          {% render 'icon-plus' %}
                        </button>
                      </quantity-input>
                      <div class="item-actions-buttons">
                        <button type="button" class="item-actions-button">
                          {{ 'sections.cart.move_to_wishlist' | t }}
                        </button>
                        <cart-remove-button
                          id="CartDrawer-Remove-{{ item.index | plus: 1 }}"
                          class="remove-item"
                          data-index="{{ item.index | plus: 1 }}"
                        >
                          <button
                            type="button"
                            class="item-actions-button remove-btn"
                            aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}"
                          >
                            {{ 'sections.cart.remove' | t }}
                          </button>
                        </cart-remove-button>
                      </div>
                    </div>
                  </div>
                  <p
                    hidden
                    id="CartDrawer-LineItemError-{{ item.index | plus: 1 }}"
                    class="item-error"
                    role="alert"
                  ></p>
                </div>
              {% endfor %}
              <div class="empty:hidden" id="CartDrawer-CartErrors" role="alert"></div>
            </div>
            <p hidden id="CartDrawer-LiveRegionText" class="sr-only" role="status"></p>
            <p hidden id="CartDrawer-LineItemStatus" class="sr-only" aria-hidden="true" role="status">
              {{ 'accessibility.loading' | t }}
            </p>
          </form>

          {% if section.blocks.size > 0 %}
            <h3 class="headline-2 section-pt">{{ 'sections.cart.complete_the_look' | t }}</h3>

            <ul class="cart-drawer-blocks section-pb">
              {% for block in section.blocks %}
                {%- case block.type -%}
                  {%- when 'product' -%}
                    {% if block.settings.product != null %}
                      <li class="cart-drawer-block" {{ block.shopify_attributes }}>
                        {%- assign item = block.settings.product -%}
                        {%- assign img = item.featured_media -%}
                        {%- assign w = 134 -%}
                        {%- assign h = 140 -%}

                        <a href="{{ item.url }}" class="cart-drawer-subimg img-cover">
                          {{
                            img
                            | image_url: width: w, height: h
                            | image_tag: loading: 'lazy', width: w, height: h, alt: img.alt
                            | escape
                          }}
                        </a>
                        <div class="cart-drawer-right">
                          <h3>
                            <a
                              class="cart-item-name"
                              href="{{ item.url }}"
                            >
                              {% render 'product-title', product: item %}
                            </a>
                          </h3>
                          {% render 'price',
                            product: item,
                            use_variant: true,
                            price_class: 'subhead-2 body-1-mobile cart-drawer-price'
                          %}

                          {% if item.available %}
                            <product-form client:idle class="relative">
                              {%- assign product_form_id = 'product-form-' | append: section.id -%}
                              {%- form 'product',
                                item,
                                id: product_form_id,
                                class: 'form',
                                data-type: 'add-to-cart-form'
                              -%}
                                <div class="cart-drawer-foot">
                                  {% render 'cart-select',
                                    name: 'id',
                                    label: 'Size',
                                    options: item.variants,
                                    required: true,
                                    item: item
                                  %}
                                  <button
                                    type="submit"
                                    name="add"
                                    class="cart-drawer-add btn btn-blue button-title-5"
                                  >
                                    {{ 'products.product.add_to_cart' | t }}
                                  </button>
                                </div>
                                <p class="body-2 absolute text-red-500" role="alert" data-error-message hidden></p>
                              {%- endform -%}
                            </product-form>
                          {% endif %}
                        </div>
                      </li>
                    {% endif %}
                {%- endcase -%}
              {% endfor %}
            </ul>
          {% endif %}
        </cart-drawer-items>

        <div class="cart-drawer-footer">
          <div class="subtotal">
            <h2 class="subtotal-label headline-1">{{ 'sections.cart.subtotal' | t }}</h2>
            <p class="subtotal-amount headline-1">{{ cart.total_price | money_without_trailing_zeros }}</p>
          </div>

          <div class="cart-drawer-footer-buttons">
            <a href="{{ routes.cart_url }}" class="view-bag-btn btn btn-white">
              {{ 'sections.cart.view_bag' | t }}
            </a>
            <button
              type="submit"
              id="CartDrawer-Checkout"
              class="checkout-btn btn btn-blue"
              name="checkout"
              form="CartDrawer-Form"
              {% if cart == empty %}
                disabled
              {% endif %}
            >
              {{ 'sections.cart.checkout' | t }}
            </button>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</cart-drawer>

{% schema %}
{
  "name": "Cart drawer",
  "blocks": [
    {
      "type": "product",
      "name": "t:sections.collage.blocks.product.name",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "t:sections.collage.blocks.product.settings.product.label"
        }
      ]
    }
  ]
}
{% endschema %}
