{%- liquid
  assign container_class = 'header-container wrapper'
-%}

<div
  role="banner"
  class="{{ container_class }}"
>
  {%- if section.settings.menu != blank -%}
    <header-drawer>
      <details>
        <summary class="header-summary" aria-haspopup="dialog" aria-label="{{ 'sections.header.menu' | t }}">
          {% render 'icon-menu' %}
        </summary>
        <div
          id="menu-drawer"
          class="header-menu"
          role="dialog"
          aria-modal="true"
          aria-label="{{ 'sections.header.menu' | t }}"
          tabindex="-1"
        >
          <button
            type="button"
            class="header-close"
            aria-label="{{ 'accessibility.close' | t }}"
          >
            {%- render 'icon-close' -%}
          </button>

          <div class="header-inner">
            <nav class="header-nav">
              {%- for link in section.settings.menu.links -%}
                <a
                  href="{{ link.url }}"
                  {% if link.current %}
                    aria-current="page"
                  {% endif %}
                  class="header-wrapper"
                >
                  {{ link.title | escape }}
                </a>
              {%- endfor -%}
            </nav>

            {% render 'menu-search' %}

            <nav class="header-nav-2">
              {%- for link in section.settings.menu2.links -%}
                <a
                  href="{{ link.url }}"
                  {% if link.current %}
                    aria-current="page"
                  {% endif %}
                  class="header-wrapper"
                >
                  {{ link.title | escape }}
                </a>
              {%- endfor -%}
            </nav>

            {% render 'menu-subscribe' %}

            <div class="header-year header-wrapper">
              © {{ 'now' | date: '%Y' }}
              {{ shop.name | link_to: routes.root_url }}
            </div>
          </div>
        </div>
      </details>
    </header-drawer>
  {%- endif -%}

  <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
    {%- if settings.logo != blank -%}
      <div class="header-logo">
        {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
        {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
        {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
        {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
        {{
          settings.logo
          | image_url: width: 600
          | image_tag:
            class: 'header__heading-logo motion-reduce',
            widths: widths,
            height: logo_height,
            width: settings.logo_width,
            alt: logo_alt,
            sizes: sizes,
            preload: true
        }}

        {% if template == 'index' %}
          <div class="header-icontext">
            {{ settings.logo_text }} |&nbsp;
            <span id="datetime">{{- 'now' | date: '%A,&nbsp;%B&nbsp;%d,&nbsp;%Y' }}</span>
          </div>
        {% endif %}
      </div>
    {%- else -%}
      <span class="h2">{{ shop.name }}</span>
    {%- endif -%}
  </a>

  {% render 'cart-icon-bubble' %}
</div>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      "logo": {{ section.settings.logo | image_url: width: section.settings.logo.width | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: '?q={search_term_string}' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "Header",
  "tag": "header",
  "class": "header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Primary navigation"
    },
    {
      "type": "link_list",
      "id": "menu2",
      "label": "Secondary navigation"
    }
  ]
}
{% endschema %}
