<div class="account-wrapper body-1 flex flex-col items-center">
  <h1 class="headline-2 w-full text-start">
    {{ 'customer.register.title' | t }}
  </h1>
  {%- form 'create_customer', novalidate: 'novalidate', class: 'w-full account-create' -%}
    <div class="col-span-2">
      <input
        type="email"
        name="customer[email]"
        id="RegisterForm-email"
        class="inp col-span-2"
        {% if form.email %}
          value="{{ form.email }}"
        {% endif %}
        spellcheck="false"
        autocapitalize="off"
        autocomplete="email"
        aria-required="true"
        placeholder="{{ 'customer.register.email' | t }}*"
        {% if form.errors contains 'email' %}
          aria-invalid="true"
          aria-describedby="RegisterForm-email-error"
        {% endif %}
      >
      {%- if form.errors contains 'email' -%}
        <span id="RegisterForm-email-error" class="error-text">
          {{ form.errors.translated_fields.email | capitalize }}
          {{ form.errors.messages.email }}.
        </span>
      {%- endif -%}
    </div>
    <div class="col-span-2">
      <input
        type="password"
        name="customer[password]"
        id="RegisterForm-password"
        class="inp"
        aria-required="true"
        placeholder="{{ 'customer.register.password' | t }}*"
        {% if form.errors contains 'password' %}
          aria-invalid="true"
          aria-describedby="RegisterForm-password-error"
        {% endif %}
      >
      {%- if form.errors contains 'password' -%}
        <span id="RegisterForm-password-error" class="error-text">
          {{ form.errors.translated_fields.password | capitalize }}
          {{ form.errors.messages.password }}
        </span>
      {%- endif -%}
    </div>

    <input
      type="text"
      name="customer[first_name]"
      id="RegisterForm-FirstName"
      {% if form.first_name %}
        value="{{ form.first_name }}"
      {% endif %}
      class="inp"
      placeholder="{{ 'customer.register.first_name' | t }}"
      autocomplete="given-name"
    >
    <input
      type="text"
      name="customer[last_name]"
      id="RegisterForm-LastName"
      class="inp"
      placeholder="{{ 'customer.register.last_name' | t }}"
      {% if form.last_name %}
        value="{{ form.last_name }}"
      {% endif %}
      autocomplete="family-name"
    >

    <div class="body-1 col-span-2">
      <phone-number client:visible>
        <div class="field contact__fields_phone">
          <label class="field__label" for="ContactForm-phone">Country Code</label>

          <input
            aria-required="true"
            type="tel"
            id="ContactForm-phone"
            class="field__input inp"
            name="contact[phone]"
            value=""
          >
        </div>
      </phone-number>
    </div>

    <div class="contact_country body-1 col-span-2">
      <country-list>
        <cart-select client:visible>
          <div class="custom-select">
            <label class="field__label" for="ContactForm-country">Country/Region</label>

            <select id="ContactForm-country" name="contact[country]"></select>
            <div class="select-selected">Country</div>
          </div>
        </cart-select>
      </country-list>
      <div id="errorField" class="error-text"></div>
    </div>

    <button class="btn btn-blue account-createbtn" type="submit">
      {{ 'customer.register.submit' | t }}
    </button>
  {%- endform -%}
</div>

{% schema %}
{
  "name": "Create account",
  "class": "my-auto"
}
{% endschema %}
