{%- liquid
  assign number pagination_count = section.settings.products_per_page
-%}

<div class="colorfilt section-pb">
  <h2 class="colorfilt-title subhead-2 wrapper">Shop by Color Drop</h2>
  <div class="colorfilt-middle wrapper">
    <h3 class="colorfilt-subtitle headline-2">The Latest</h3>
    <div class="colorfilt-pagination xl-max:hidden">
      <button class="swiper-arrow prev">{% render 'icon-swiper-arrow' %}</button>
      <button class="swiper-arrow next">{% render 'icon-swiper-arrow' %}</button>
    </div>
  </div>
  <div class="swiper colorfilt-swiper wrapper">
    <div class="swiper-wrapper">
      {% for filter in collection.filters %}
        {% case filter.type %}
          {% when 'boolean', 'list' %}
            {% if filter.label == 'Color' %}
              {% for item in filter.values %}
                {% assign id = 'Filter-'
                  | append: filter.param_name
                  | escape
                  | append: '-mobile-'
                  | append: forloop.index
                %}
                {% liquid
                  assign color = 'transparent'
                  assign img = null
                %}

                {% for value in shop.metaobjects['shopify--color-pattern'].values %}
                  {% if value.label == item.label %}
                    {% assign color = item.color %}
                    {% if value.image %}
                      {% assign img = value.image
                        | image_url: width: 288, height: 340
                        | image_tag: height: 340, width: 288, alt: item.label
                      %}
                    {% endif %}
                  {% endif %}
                {% endfor %}

                <label
                  for="{{ id }}"
                  class="swiper-slide colorfilt-item img-cover {% if item.active %}checked{% endif %}"
                >
                  {{ img }}
                  <span class="colorfilt-bot">
                    <span class="colorfilt-left body-1"> <span class="opacity-50">Color:</span> {{ item.label }} </span>
                    <span class="colorfilt-box" style="background-color:{{color}};"></span>
                  </span>
                </label>
              {% endfor %}
            {% endif %}
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</div>

<div class="collection" id="collection">
  <div
    data-id="{{ section.id }}"
  >
    {%- paginate collection.products by section.settings.products_per_page -%}
      {% comment %} Sort is the first tabbable element when filter type is vertical {% endcomment %}

      {%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
        <div class="facets-head subhead-2 wrapper">
          <button class="mobile-facets__open">
            {{ 'products.facets.filter_button' | t }}
          </button>

          <facet-remove class="active-facets__button-wrapper button-title-2">
            <a href="{{ collection.url }}" class="active-facets__button-remove">
              <span>{{ 'products.facets.clear_all' | t }}</span>
            </a>
          </facet-remove>
        </div>
      {%- endif -%}

      <div class="collection-filterspace">
        {%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
          {% render 'facet-filters-form',
            results: collection,
            enable_filtering: section.settings.enable_filtering,
            enable_sorting: section.settings.enable_sorting,
            filter_type: section.settings.filter_type,
            paginate: paginate
          %}
        {%- endif -%}

        <div class="collection-middle wrapper section-pt">
          <h1 class="collection-title">
            <span class="sr-only">{{ 'sections.collection_template.title' | t }}: </span>
            {% if collection.handle == 'all' %}
              All colors
            {% else %}
              {{- collection.title | escape -}}
            {% endif %}
          </h1>
          {%- if section.settings.show_collection_description -%}
            <div class="collection-desc">
              {{ collection.description }}
            </div>
          {%- endif -%}

          <div
            class="product-count light{% if filter_type == 'vertical' or filter_type == 'horizontal' %} medium-hide large-up-hide{% endif %}"
            role="status"
          >
            <h2 class="collection-count">
              <span id="ProductCount">
                {%- if collection.results_count -%}
                  {{
                    'templates.search.results_with_count'
                    | t: terms: collection.terms, count: collection.results_count
                  }}
                {%- elsif collection.products_count == collection.all_products_count -%}
                  {{ 'products.facets.product_count_simple' | t: count: collection.products_count }}
                {%- elsif collection.products_count == 0 -%}
                  {{ 'products.facets.product_count.zero' | t }}
                {%- else -%}
                  {{
                    'products.facets.product_count'
                    | t: product_count: collection.products_count, count: collection.all_products_count
                  }}
                {%- endif -%}
              </span>
            </h2>
            {%- render 'loading-spinner' -%}
          </div>
        </div>

        <div
          class="product-grid-container{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          id="ProductGridContainer"
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
          {% endif %}
        >
          {%- if collection.products.size == 0 -%}
            <div
              class="collection wrapper collection--empty page-width section-pt"
              id="product-grid"
              data-id="{{ section.id }}"
            >
              <div class="title-wrapper">
                <h2 class="subhead-2 text-center">
                  {{ 'sections.collection_template.empty' | t -}}
                  <br>
                  {{
                    'sections.collection_template.use_fewer_filters_html'
                    | t: link: collection.url, class: 'underlined-link link'
                  }}
                </h2>
              </div>
            </div>
          {%- else -%}
            <div
              class="collection"
            >
              <div class="loading-overlay gradient"></div>
              <ul
                id="product-grid"
                data-id="{{ section.id }}"
                class="collection-list wrapper section-pt"
              >
                {% assign skip_card_product_styles = false %}
                {%- for product in collection.products -%}
                  {% assign lazy_load = false %}
                  {%- if forloop.index > 2 -%}
                    {%- assign lazy_load = true -%}
                  {%- endif -%}
                  <li
                    class="grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                    {% if settings.animations_reveal_on_scroll %}
                      data-cascade
                      style="--animation-order: {{ forloop.index }};"
                    {% endif %}
                  >
                    {% render 'card-product',
                      card_product: product,
                      media_aspect_ratio: section.settings.image_ratio,
                      image_shape: section.settings.image_shape,
                      show_secondary_image: section.settings.show_secondary_image,
                      show_vendor: section.settings.show_vendor,
                      show_rating: section.settings.show_rating,
                      lazy_load: lazy_load,
                      skip_styles: skip_card_product_styles,
                      quick_add: section.settings.quick_add,
                      section_id: section.id
                    %}
                  </li>
                  {%- assign skip_card_product_styles = true -%}
                {%- endfor -%}
              </ul>
            </div>
          {%- endif -%}
        </div>

        <div class="collection-bot wrapper">
          <div class="body-1 text-center opacity-50">
            {% if collection.all_products_count == 1 %}
              You’re viewing 1 product
            {% else %}
              You’re viewing 1-
              {% if pagination_count > collection.all_products_count %}
                {{ collection.all_products_count }}
              {% else %}
                {{ pagination_count }}
              {% endif %}
              of {{ collection.all_products_count }} products
            {% endif %}
          </div>

          <button class="collection-up" onclick="document.body.scrollIntoView({behavior: 'smooth'})" aria-label="go up">
            {% render 'icon-up' %}
          </button>
        </div>
      </div>
    {%- endpaginate -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-collection-product-grid.name",
  "class": "main-collection",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": true,
      "label": "Show collection description"
    },
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 36,
      "step": 4,
      "default": 12,
      "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__3.content"
    },
    {
      "type": "select",
      "id": "quick_add",
      "default": "none",
      "label": "t:sections.main-collection-product-grid.settings.quick_add.label",
      "info": "t:sections.main-collection-product-grid.settings.quick_add.info",
      "options": [
        {
          "value": "none",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_1"
        },
        {
          "value": "standard",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_2"
        },
        {
          "value": "bulk",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_3"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "select",
      "id": "filter_type",
      "options": [
        {
          "value": "drawer",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__3.label"
        }
      ],
      "default": "drawer",
      "label": "t:sections.main-collection-product-grid.settings.filter_type.label",
      "info": "t:sections.main-collection-product-grid.settings.filter_type.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.main-collection-product-grid.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__2.label"
        }
      ]
    }
  ]
}
{% endschema %}
