<main-product
  id="MainProduct-{{ section.id }}"
  data-section="{{ section.id }}"
  class="wrapper product"
>
  <div id="ProductInfo-{{ section.id }}" class="product-sticky product-left">
    <h1 class="product-title title-1 capitalize">{% render 'product-title' %}</h1>
    {% if section.settings.show_vendor %}
      <p class="headline-1">{{ product.vendor }}</p>
    {% endif %}

    {% for block in section.blocks %}
      {% case block.type %}
        {%- when '@app' -%}
          {% render block %}
        {%- when 'price' -%}
          {% render 'price', product: product, use_variant: true, price_class: 'product-price headline-1' %}

        {%- when 'tab' -%}
          <details
            class="mobile-facets__details product-details"
            id="Details-{{ block.id }}-{{ section.id }}"
            {{ block.shopify_attributes }}
          >
            <summary class="mobile-facets__summary">
              <h2 class="body-1">
                {{ block.settings.title | default: block.settings.page.title }}
              </h2>
            </summary>
            <div class="mobile-facets__submenu body-1" id="ProductAccordion-{{ block.id }}-{{ section.id }}">
              {{ block.settings.content }}
              {{ block.settings.page.content }}
            </div>
          </details>
      {% endcase %}
    {% endfor %}
  </div>

  <product-swiper client:media="(max-width: 1024px)" class="product-swiper swiper">
    {% render 'card-favorite', class: 'only-mobile' %}
    <div class="swiper-wrapper product-images">
      {%- for media in product.media -%}
        {%- liquid
          assign is_first = false
          if forloop.first
            assign is_first = true
          endif
          assign loading = 'lazy'
          if is_first
            assign loading = 'eager'
          endif
        -%}
        <div class="product-img img-cover swiper-slide">
          <picture>
            <source srcset="{{ media.preview_image | image_url: height: 443, width: 377 }}" media="(max-width:412px)">
            <source
              srcset="{{ media.preview_image | image_url: width: 1190, height: 1490 }} 2x, {{ media.preview_image | image_url: width: 595, height: 745 }} 1x"
              media="(min-resolution: 192dpi)"
            >
            {{
              media.preview_image
              | image_url: height: 745
              | image_tag:
                loading: loading,
                preload: forloop.first,
                width: 595,
                height: 745,
                alt: media.preview_image.alt
              | escape
            }}
          </picture>
        </div>
      {%- endfor -%}
    </div>
    <div class="swiper-scrollbar"></div>
  </product-swiper>

  <div class="product-sticky product-right">
    <button class="product-favorite body-1">
      {% render 'icon-favorite' %}
      Add to Wishlist
    </button>

    <product-form client:idle class="product-fixed">
      {%- assign product_form_id = 'product-form-' | append: section.id -%}
      {%- form 'product', product, id: product_form_id, class: 'form', data-type: 'add-to-cart-form' -%}
        <div class="product-fixed-head">
          {% render 'product-available' %}
          {% render 'price', product: product, use_variant: true, price_class: 'product-price-mobile headline-1' %}
        </div>

        {% render 'product-colors' %}

        <product-select class="product-variants" client:media="(max-width: 1024px)">
          {% if product.available %}
            {% render 'product-sizes',
              name: 'id',
              label: 'Size',
              options: product.variants,
              required: true,
              item: product,
              class: 'headline-2'
            %}
          {% endif %}
        </product-select>

        <button
          type="submit"
          name="add"
          class="btn btn-blue product-submit"
          {% if product.available == false %}
            disabled
          {% endif %}
        >
          {{ 'products.product.add_to_cart' | t }}
        </button>

        <p class="body-2 absolute text-red-500" role="alert" data-error-message hidden></p>

        {% render 'product-available', desc: true %}
      {%- endform -%}
    </product-form>

    {% render 'complementary-slider', slider: true, class: 'product-complementary' %}
  </div>

  {%- liquid
    if product.selected_or_first_available_variant.featured_media
      assign seo_media = product.selected_or_first_available_variant.featured_media
    else
      assign seo_media = product.featured_media
    endif
  -%}

  <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "Product",
      "name": {{ product.title | json }},
      "url": {{ request.origin | append: product.url | json }},
      {% if seo_media -%}
        "image": [
          {{ seo_media | image_url: width: seo_media.preview_image.width | prepend: "https:" | json }}
        ],
      {%- endif %}
      "description": {{ product.description | strip_html | json }},
      {% if product.selected_or_first_available_variant.sku != blank -%}
        "sku": {{ product.selected_or_first_available_variant.sku | json }},
      {%- endif %}
      "brand": {
        "@type": "Brand",
        "name": {{ product.vendor | json }}
      },
      "offers": [
        {%- for variant in product.variants -%}
          {
            "@type" : "Offer",
            {%- if variant.sku != blank -%}
              "sku": {{ variant.sku | json }},
            {%- endif -%}
            {%- if variant.barcode.size == 12 -%}
              "gtin12": {{ variant.barcode }},
            {%- endif -%}
            {%- if variant.barcode.size == 13 -%}
              "gtin13": {{ variant.barcode }},
            {%- endif -%}
            {%- if variant.barcode.size == 14 -%}
              "gtin14": {{ variant.barcode }},
            {%- endif -%}
            "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
            "price" : {{ variant.price | divided_by: 100.00 | json }},
            "priceCurrency" : {{ cart.currency.iso_code | json }},
            "url" : {{ request.origin | append: variant.url | json }}
          }{% unless forloop.last %},{% endunless %}
        {%- endfor -%}
      ]
    }
  </script>
</main-product>

{% schema %}
{
  "name": "Product information",
  "class": "product-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "Show product vendor",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "price",
      "name": "Price",
      "limit": 1
    },
    {
      "type": "tab",
      "name": "Tab",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Delivery and Returns"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Tab content",
          "default": "<p>Use collapsible tabs for more detailed information that will help customers make a purchasing decision.</p><p>Ex: Shipping and return policies, size guides, and other common questions.</p>"
        },
        {
          "type": "page",
          "id": "page",
          "label": "Tab content from page"
        }
      ]
    }
  ]
}
{% endschema %}
