<div class="wrapper">
  <cart-items
    id="main-cart-items"
    data-id="{{ section.id }}"
    class="js-contents  {% if cart == empty %}is-empty{% endif %}"
  >
    <h1 class="capitalize">
      {{ 'sections.cart.title' | t }}
      {% if cart != empty %}({{ cart.item_count }}){% endif %}
    </h1>

    <div class="cart-empty section-pt">
      <p class="headline-2">{{ 'sections.cart.empty' | t }}</p>
      <a href="{{ routes.root_url }}" class="cart-link">
        {{ 'general.continue_shopping' | t }}
      </a>
    </div>

    <ul class="cart-header headline-2 opacity-50 [.is-empty_&]:hidden">
      <li>Available now</li>
      <li>Quantity</li>
      <li>Price</li>
      <li>Total</li>
    </ul>

    <form action="{{ routes.cart_url }}" method="post" id="cart" class="[.is-empty_&]:hidden">
      {%- for item in cart.items -%}
        <div id="CartItem-{{ item.index | plus: 1 }}" class="cart-item">
          <div class="cart-img img-cover">
            {% if item.image %}
              {% comment %} Leave empty space due to a:empty CSS display: none rule {% endcomment %}
              <a href="{{ item.url }}" class="absolute inset-0 h-full w-full" tabindex="-1" aria-hidden="true"> </a>
              <img
                src="{{ item.image | image_url: width: 134, height: 150 }}"
                alt="{{ item.image.alt | escape }}"
                loading="lazy"
                width="134"
                height="150"
              >
            {% endif %}
          </div>
          <div class="cart-columns">
            <div class="cart-info">
              <h3>
                <a class="cart-item-name" href="{{ item.url }}">{{ item.product.title | escape }}</a>
              </h3>
              {%- if item.product.has_only_default_variant == false
                or item.properties.size != 0
                or item.selling_plan_allocation != null
              -%}
                <div class="cart-options body-3-mobile">
                  <dl class="flex">
                    {% for option in item.options_with_values %}
                      <dt hidden>{{ option.name }}:</dt>
                      <dd>{{ option.value }}</dd>
                      {%- unless forloop.last -%}&nbsp;/&nbsp;{%- endunless -%}
                    {% endfor %}
                  </dl>
                </div>

                <p>
                  {{ item.selling_plan_allocation.selling_plan.name }}
                </p>

                <div class="cart-links">
                  <button type="button" class="cart-link button-title-3">
                    {{ 'sections.cart.move_to_wishlist' | t }}
                  </button>

                  <cart-remove-button
                    id="Remove-{{ item.index | plus: 1 }}"
                    data-index="{{ item.index | plus: 1 }}"
                  >
                    <button
                      type="button"
                      class="cart-link button-title-3"
                      aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}"
                    >
                      {{ 'sections.cart.remove' | t }}
                    </button>
                  </cart-remove-button>
                </div>
              {%- endif -%}
            </div>

            <quantity-input class="quantity-input cart-quantity" client:visible>
              <button
                class="quantity-btn"
                type="button"
                name="minus"
                aria-label="{{ 'products.product.quantity.decrease' | t: product: item.product.title | escape }}"
              >
                {% render 'icon-minus' %}
              </button>
              <input
                class="quantity-input-field"
                type="number"
                name="updates[]"
                value="{{ item.quantity }}"
                min="0"
                max="{{ item.variant.inventory_quantity }}"
                aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                id="Drawer-quantity-{{ item.index | plus: 1 }}"
                data-index="{{ item.index | plus: 1 }}"
              >
              <button
                class="quantity-btn {% if item.variant.inventory_quantity == item.quantity %} disabled {% endif %}"
                type="button"
                name="plus"
                aria-label="{{ 'products.product.quantity.increase' | t: product: item.product.title | escape }}"
              >
                {% render 'icon-plus' %}
              </button>
            </quantity-input>
            <div class="cart-price">
              {%- if item.original_line_price != item.final_line_price -%}
                <div>
                  <span class="sr-only">{{ 'products.product.price.regular_price' | t }}</span>
                  <s>{{ item.original_line_price | money }}</s>
                  <span class="sr-only">{{ 'products.product.price.sale_price' | t }}</span>
                  <span>{{ item.final_line_price | money }}</span>
                </div>
              {%- else -%}
                {{ item.original_line_price | money }}
              {%- endif -%}
            </div>
            <div class="cart-total">
              {{ item.original_line_price | money }}
            </div>
          </div>

          <p
            id="Line-item-error-{{ item.index | plus: 1 }}"
            class="absolute bottom-0 left-0 text-red-500"
            role="alert"
          ></p>
        </div>
      {%- endfor -%}

      <div class="cart-note">
        <div>
          <div id="cart-subtotal" class="cart-line">
            <h2 class="headline-1">{{ 'sections.cart.subtotalwithvat' | t }}</h2>
            <p class="headline-1">{{ cart.total_price | money_without_trailing_zeros }}</p>
          </div>
        </div>
        {%- assign free_shipping = 200 -%}
        <div class="cart-line">
          <h3 class="headline-2 opacity-50">{{ 'sections.cart.shipping' | t }}</h3>
          <p>{{- 'sections.cart.free_shipping' | t: count: free_shipping -}}</p>
        </div>
        <div>
          <noscript>
            <button
              type="submit"
              class="btn"
              form="cart"
            >
              {{ 'sections.cart.update' | t }}
            </button>
          </noscript>

          {%- if additional_checkout_buttons -%}
            <div class="cart-line">
              {{ content_for_additional_checkout_buttons }}
            </div>
          {%- endif -%}

          <button
            type="submit"
            id="checkout"
            class="btn btn-blue cart-checkout"
            name="checkout"
            {% if cart == empty %}
              disabled
            {% endif %}
            form="cart"
          >
            {{ 'sections.cart.checkout' | t }}
          </button>
        </div>
      </div>

      <p class="sr-only" id="cart-live-region-text" aria-live="polite" role="status"></p>
      <p class="sr-only" id="shopping-cart-line-item-status" aria-live="polite" aria-hidden="true" role="status">
        {{ 'accessibility.loading' | t }}
      </p>
    </form>
  </cart-items>
</div>

{% schema %}
{
  "name": "Cart page"
}
{% endschema %}
