<div class="article-wrapper">
  <ul class="blog-filter">
    {% for tag in article.tags %}
      <li>
        {{ tag | link_to_tag: tag }}
      </li>
    {% endfor %}
  </ul>

  <h1 class="title-1 article-title">
    {{ article.title | escape }}
  </h1>
  <div class="article-info headline-2 opacity-50">
    <div class="article-date">{{ article.published_at | time_tag: format: 'date' }}</div>
    <span>/</span>
    <div class="article-author body-1">
      {{ article.author }}
    </div>
  </div>
  <div class="article-image img-cover">
    {%- if article.image -%}
      <img
        src="{{ article.image | image_url: width: 1808 }}"
        loading="eager"
        fetchpriority="high"
        width="904"
        height="800"
        alt="{{ article.image.alt | escape }}"
      >
    {%- endif -%}
  </div>
  <div class="article-wysiwyg wysiwyg">{{ article.content }}</div>

  <div class="article-bot flex items-center justify-between">
    {% if blog.previous_article %}
      <a href="{{ blog.previous_article.url }}" class="article-prev link">Previous</a>
    {% endif %}
    {% if blog.next_article %}
      <a href="{{ blog.next_article.url }}" class="article-next link">Next</a>
    {% endif %}
  </div>
</div>

{% if article.tags.size > 0 %}
  <div class="article-slider wrapper-desctop">
    <h3 class="headline-2 wrapper-mobile">Related articles</h3>

    <blogs-swiper class="swiper article-swiper wrapper-mobile" client:visible>
      <div class="swiper-wrapper">
        {% assign similar_articles = '' %}
        {% for tag in article.tags %}
          {% for article_item in blog.articles %}
            {% if article_item.id != article.id and article_item.tags contains tag %}
              {% unless similar_articles contains article_item.id %}
                {% assign similar_articles = similar_articles | append: article_item.id | append: ',' %}
                {%- render 'article-card',
                  article: article_item,
                  class: 'swiper-slide big',
                  title_class: 'subhead-2',
                  date_class: 'hidden',
                  width: 442,
                  height: 500,
                  lazy_load: true
                -%}
              {% endunless %}
            {% endif %}
          {% endfor %}
        {% endfor %}
      </div>
    </blogs-swiper>
  </div>
{% endif %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "articleBody": {{ article.content | strip_html | json }},
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ request.origin | append: page.url | json }}
    },
    "headline": {{ article.title | json }},
    {% if article.excerpt != blank %}
      "description": {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
      "image": [
        {{ article | image_url: width: article.image.width | prepend: "https:" | json }}
      ],
    {% endif %}
    "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "author": {
      "@type": "Person",
      "name": {{ article.author | json }}
    },
    "publisher": {
      "@type": "Organization",
      {% if settings.share_image %}
        "logo": {
          "@type": "ImageObject",
          "height": {{ settings.share_image.height | json }},
          "url": {{ settings.share_image | image_url: width: settings.share_image.width | prepend: "https:" | json }},
          "width": {{ settings.share_image.width | json }}
        },
      {% endif %}
      "name": {{ shop.name | json }}
    }
  }
</script>

{% schema %}
{
  "tag": "section",
  "class": "article"
}
{% endschema %}
