<just-validate class="account-wrapper flex flex-col items-center">
  <h1 class="headline-2">
    {{ 'customer.reset_password.title' | t }}
  </h1>
  <p class="mt-10">
    {{ 'customer.reset_password.subtext' | t }}
  </p>
  {%- form 'reset_customer_password', class: 'w-full account-create' -%}
    <div class="col-span-2 mt-10 grid gap-2">
      <input
        type="password"
        name="customer[password]"
        id="password"
        class="inp validation-password"
        autocomplete="new-password"
        placeholder="{{ 'customer.reset_password.password' | t }}"
        {% if form.errors contains 'password' %}
          aria-invalid="true"
          aria-describedby="password-error"
        {% endif %}
      >
      {%- if form.errors contains 'password' -%}
        <p id="password-error" class="mt-2 flex items-center gap-2 text-red-500">
          <svg aria-hidden="true" focusable="false" role="presentation" class="h-4 w-4">
            <use href="#icon-error" />
          </svg>
          {{ form.errors.translated_fields.password | capitalize }}
          {{ form.errors.messages.password }}
        </p>
      {%- endif -%}
    </div>

    <div class="col-span-2 mt-10 grid gap-2">
      <input
        type="password"
        name="customer[password_confirmation]"
        id="password_confirmation"
        class="inp validation-password-confirm"
        autocomplete="new-password"
        placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
        {% if form.errors contains 'password_confirmation' %}
          aria-invalid="true"
          aria-describedby="password_confirmation-error"
        {% endif %}
      >
      {%- if form.errors contains 'password_confirmation' -%}
        <p id="password_confirmation-error" class="mt-2 flex items-center gap-2 text-red-500">
          <svg aria-hidden="true" focusable="false" role="presentation" class="h-4 w-4">
            <use href="#icon-error" />
          </svg>
          {{ form.errors.translated_fields.password_confirmation | capitalize }}
          {{ form.errors.messages.password_confirmation }}
        </p>
      {%- endif -%}
    </div>

    <button class="btn btn-blue col-span-2 mt-32">
      {{ 'customer.reset_password.submit' | t }}
    </button>
  {%- endform -%}
</just-validate>

{% schema %}
{
  "name": "Password reset",
  "class": "my-auto"
}
{% endschema %}
