<div class="account-wrapper body-1 flex flex-col items-center">
  <h1 class="headline-2 w-full text-start">
    {{ 'customer.register.title' | t }}
  </h1>
  <just-validate class="block w-full">
    {%- form 'create_customer', novalidate: 'novalidate', class: 'w-full account-create' -%}
      <div class="col-span-2">
        <input
          type="email"
          name="customer[email]"
          id="RegisterForm-email"
          class="inp email-required col-span-2"
          {% if form.email %}
            value="{{ form.email }}"
          {% endif %}
          spellcheck="false"
          autocapitalize="off"
          autocomplete="email"
          aria-required="true"
          placeholder="{{ 'customer.register.email' | t }}*"
          {% if form.errors contains 'email' %}
            aria-invalid="true"
            aria-describedby="RegisterForm-email-error"
          {% endif %}
        >
        {%- if form.errors contains 'email' -%}
          <span id="RegisterForm-email-error" class="error-text">
            {{ form.errors.translated_fields.email | capitalize }}
            {{ form.errors.messages.email }}.
          </span>
        {%- endif -%}
      </div>
      <div class="col-span-2">
        <input
          type="password"
          name="customer[password]"
          id="RegisterForm-password"
          class="inp validation-password"
          aria-required="true"
          placeholder="{{ 'customer.register.password' | t }}*"
          {% if form.errors contains 'password' %}
            aria-invalid="true"
            aria-describedby="RegisterForm-password-error"
          {% endif %}
        >
        {%- if form.errors contains 'password' -%}
          <span id="RegisterForm-password-error" class="error-text">
            {{ form.errors.translated_fields.password | capitalize }}
            {{ form.errors.messages.password }}
          </span>
        {%- endif -%}
      </div>

      <input
        type="text"
        name="customer[first_name]"
        id="RegisterForm-FirstName"
        {% if form.first_name %}
          value="{{ form.first_name }}"
        {% endif %}
        class="inp required-text"
        placeholder="{{ 'customer.register.first_name' | t }}"
        autocomplete="given-name"
      >
      <input
        type="text"
        name="customer[last_name]"
        id="RegisterForm-LastName"
        class="inp required-text"
        placeholder="{{ 'customer.register.last_name' | t }}"
        {% if form.last_name %}
          value="{{ form.last_name }}"
        {% endif %}
        autocomplete="family-name"
      >

      <div class="contact_country col-span-2">
        <country-list>
          <cart-select client:visible>
            <div class="custom-select">
              <label class="field__label" for="ContactForm-country">Country/Region</label>

              <select id="ContactForm-country" name="customer[note][custom.country]"></select>
              <div class="select-selected">Country</div>
            </div>
          </cart-select>
        </country-list>
      </div>

      <input
        type="text"
        name="customer[note][facts.birth_date]"
        id="RegisterForm-BirthDate"
        class="inp date-validation col-span-2"
        placeholder="{{ 'customer.register.birthday' | t }}"
        {% if form.birthday %}
          value="{{ form.birthday }}"
        {% endif %}
        autocomplete="family-name"
      >

      <button class="btn btn-blue account-createbtn" type="submit">
        {{ 'customer.register.submit' | t }}
      </button>

      <div class="col-span-2">
        <label class="checkbox account-checkbox">
          <input type="checkbox" required checked>
          <span class="checkbox-box"></span>
          <span>
            I agree to the <a class="link" href="/policies/terms-and-conditions">terms and conditions</a> and
            <a class="link" href="/policies/privacy-policy">privacy policy.</a>
          </span>
        </label>

        <label class="checkbox account-checkbox">
          <input type="hidden" name="customer[accepts_marketing]" value="false">
          <input type="checkbox" name="customer[accepts_marketing]" value="true" checked>
          <span class="checkbox-box"></span>
          <span> Sign me up for the mailing list. </span>
        </label>
      </div>

      <div id="errors-container_custom-name"></div>
    {%- endform -%}
  </just-validate>
</div>

{% schema %}
{
  "name": "Create account",
  "class": "my-auto"
}
{% endschema %}
