<div class="account-wrapper flex flex-col items-center">
  <h1 id="recover" class="headline-2 hidden w-full target:block focus:outline-none" tabindex="-1">
    {{ 'customer.recover_password.title' | t }}
  </h1>
  <div class="account-block [#recover:target_+_&]:block [#recover_+_&]:hidden">
    {%- form 'recover_customer_password' -%}
      {% assign recover_success = form.posted_successfully? %}
      <input
        type="email"
        value=""
        name="email"
        id="RecoverEmail"
        class="inp account-recover"
        autocorrect="off"
        autocapitalize="off"
        autocomplete="email"
        placeholder="{{ 'customer.login_page.email' | t  }}"
        {% if form.errors %}
          aria-invalid="true"
          aria-describedby="RecoverEmail-email-error"
          autofocus
        {% endif %}
      >
      {%- if form.errors -%}
        <p id="RecoverEmail-email-error" class="error-text">
          {{ form.errors.messages.form }}
        </p>
      {%- endif -%}

      <div class="account-recblock flex flex-col gap-4">
        <button class="btn btn-blue account-recsubmit">
          {{ 'customer.login_page.submit' | t }}
        </button>

        <a href="#login" class="link text-center">
          {{ 'customer.login_page.cancel' | t }}
        </a>
      </div>
    {%- endform -%}
  </div>

  <h1 id="login" class="title-1 [#recover:target_~_&]:hidden">
    {{ 'customer.login_page.title' | t }}
  </h1>
  <div class="account-block [#recover:target_~_#login_+_&]:hidden">
    {%- if recover_success == true -%}
      <h3 class="mb-10" tabindex="-1" autofocus>
        {{ 'customer.recover_password.success' | t }}
      </h3>
    {%- endif -%}
    {%- form 'customer_login', novalidate: 'novalidate' -%}
      <input
        type="email"
        name="customer[email]"
        id="CustomerEmail"
        class="inp"
        autocomplete="email"
        autocorrect="off"
        autocapitalize="off"
        placeholder="{{ 'customer.login_page.email' | t }}"
        {% if form.errors contains 'form' %}
          aria-invalid="true"
        {% endif %}
      >

      {%- if form.password_needed -%}
        <input
          type="password"
          value=""
          name="customer[password]"
          id="CustomerPassword"
          class="inp mt-4"
          autocomplete="current-password"
          placeholder="{{ 'customer.login_page.password' | t  }}"
          {% if form.errors contains 'form' %}
            aria-invalid="true"
          {% endif %}
        >
        {%- if form.errors -%}
          <div class="errors-list">
            {{ form.errors | default_errors }}
          </div>
        {%- endif -%}

        <a href="#recover" class="link account-forgot flex items-center justify-center text-center">
          {{ 'customer.login_page.forgot_password' | t }}
        </a>
      {%- endif -%}

      <div class="flex flex-col gap-4">
        <button class="btn btn-blue account-signin">
          {{ 'customer.login_page.sign_in' | t }}
        </button>

        <a href="{{ routes.account_register_url }}" class="btn btn-white">
          {{ 'customer.login_page.create_account' | t }}
        </a>
      </div>
    {%- endform -%}
  </div>

  {%- if shop.checkout.guest_login -%}
    <h2 class="title-1">{{ 'customer.login_page.guest_title' | t }}</h2>

    {%- form 'guest_login' -%}
      <button class="btn btn-blue">
        {{ 'customer.login_page.guest_continue' | t }}
      </button>
    {%- endform -%}
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Login",
  "class": "my-auto"
}
{% endschema %}
