<product-recommendations
  data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit={{ section.settings.products_to_show }}"
  client:visible
>
  {%- if recommendations.performed and recommendations.products_count > 0 -%}
    <h2 class="headline-2">
      {{ section.settings.heading | escape }}
    </h2>
    <div class="swiper recommendations-swiper">
      <div class="swiper-wrapper">
        {%- for recommendation in recommendations.products -%}
          {% render 'card-product', card_product: recommendation, wrapper_class: 'swiper-slide' %}
        {%- endfor -%}
      </div>
    </div>
  {%- endif -%}
</product-recommendations>

{% schema %}
{
  "name": "Product recommendations",
  "class": "wrapper recommendations section-2-mt",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Similar Items",
      "label": "Heading"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 10,
      "step": 1,
      "default": 4,
      "label": "Maximum products to show"
    }
  ]
}
{% endschema %}
